body {
	font-family: Roboto Condensed;
}
h1 {
	font-size: 96px;
}
h2 {
	font-size: 48px;
}
h3 {
	font-size: 36px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	font-size: 12px;
}
.header{
	background-color:#2B4074;
}
.logo{
	font-family: Roboto Condensed;
	font-weight: 400;
	font-size: 48px;
	color: white;
	width: 100px;
	height:66px;
	text-align: center;
	margin-left: 4.5%;

}
.logo > p {
	margin: 0;
	font-weight: normal;
}
.logo > h2 {
	margin: 0;
	font-weight: normal;
	height: 48px;
}
.menu{
}
#menu_toggle{
	display: none;
}
#menu_toggle:checked + .menu_btn > span {
	transform: rotate(45deg);
}
#menu_toggle:checked + .menu_btn > span::before {
	top: 0;
	transform: rotate(90deg);
}
#menu_toggle:checked + .menu_btn > span::after {
	top: 0;
	transform: rotate(0);
}
#menu_toggle:checked ~ .menu_box {
	left: 90% !important;
}
.menu_btn {
	position: fixed;
	top: 20px;
	left: 95%;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
	transition-duration: .25s;
}
.menu_btn > span::before {
	content: '';
	top: -8px;
}
.menu_btn > span::after {
	content: '';
	top: 8px;
}
.menu_box {
	display: block;
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color: #eceff1;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
	transition-duration: .25s;
}
.menu_item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: 'roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
	transition-duration: .25s;
}
.menu_item:hover {
	background-color: #cfd8dc;
}
.main_carusel {
	background-color: rgba(33, 33, 33, 0.5);

}
.img {
	z-index: -1;
}
.side-button {
	position: absolute;
	left: 100%;
	
	font-size: 100px;

}
.left {
	color: rgba(255, 255, 255, 1);
	background: rgba(43, 64, 116, 1);
	top: 45%;
}
.right {
	background: rgba(249, 246, 229, 1);
	top: 55%;
}
.intro {
}
.general + .button{
}
.side + .button {
}
.left{
}
.right{
}
.slide_indicator {
}
.dot {
}
.container {
	max-width:1171px;
	margin:auto;
}
h1 {
	position: inherit;
