.up {
	height: 50px;
}
.width-container {
	border: solid 2px black;
}
.owl-carousel .item{
	width: 100%;
	background: green;
}
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 640px) {
}
@media screen and (min-width: 320px) {
}
