.services {
	background: white;
	display: flex;
	border: 2px solid red;
}
.cards {
	display: flex;
	flex-wrap: wrap;
}
.card {
	width: 212px;
	height: 255px;
	margin: 5px;
}
.hover_card {
	display: none;
	position: relative;
	bottom: 4px;
}
.card:hover .hover_card {
	display: block;
}
.card>img {
	position: relative;
	top: 72px;
}
.card:hover img {
	color: red;
	top: 20px;
}
.card>h4 {
	position: relative;
	top: 78px;
}
.card:hover h4 {
	top: 14px;	
}
.card:hover {
	border: 5px solid blue;
	margin: 0px;
}
