.services {
	background: white;
	display: flex;
	flex-wrap: nowrap; /*mobile: wrap*/
}
.cards {
	display: flex;
	flex-wrap: wrap;
}
.card {
	border: 1px solid red;
	width: 212px;
	height: 255px;
	padding: 5px;
	margin: -1px -1px 0 0;
	text-align: center;
}
.hover_card {
	display: none;
	position: absolute;
	width: inherit;
}
.card:hover .hover_card {
	display: block;
}
.card>img {
	position: relative;
	top: 72px;
}
.card:hover img {
	top: 20px;
}
.card>h4 {
	position: relative;
	top: 78px;
}
.card:hover h4 {
	top: 14px;	
}
.card:hover {
	outline: 5px solid blue;
	outline-offset: -8px;
}
