.video_block .container {
	display: flex;
	margin: auto;
}
.video_block {
	background: white;
}
.wrap-1 {
	margin-left: 100px;
}
.wrap-1 h2 {
	text-align: left;
	margin: 0;
	margin-bottom: 30px;
}
.wrap-1 hr {
	margin: 0;
	margin-bottom: 30px;
}
.wrap-1 h5 {
	margin: 39px 0;
	width: 470px;
}
.wrap-1 button {
	background: blue;
	width: 230px;
	height: 60px;
}
